<div class="jumbotron">
  <h1>Welcome to <b>Books Gallery</b> !</h1>
  <p>Here you can find a lot of interesting books to read and also - share your favourite books with others:)</p>
  <% if user_signed_in? %>
  	<p>
			<%= link_to "Read Books", books_path, class: "btn btn-success btn-lg" %>
  	</p>
  <% else %>
	  <p> So let's start, click on "sign up"!</p>
	  <p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-success btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %>
	  </p>
  <% end %>
</div>
